* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-color: #EF5F4C;
  --background-color: #FFFFFF;
  --surface-color: #F5F5F5;
  --skeleton-color: #D9D9D9;
  --shape-transparency: #ffffff8f;
  --text-color-primary: #313131;
  --text-color-secondary: #6C6C6C;

  --font-family: "Poppins", sans-serif;
  --text-lg: bold 32px/125% var(--font-family);
  --text-normal: normal 16px/150% var(--font-family);
  --text-md: normal 14px/170% var(--font-family);
  --text-sm: normal 12px/175% var(--font-family);
}

body {
  /* font-size: var(--text-lg-size);
  font-weight: var(--text-weigth-lg-bold);
  line-height: var(--text-lg-line-height);
  font-family: var(--font-family); */
  font: var(--text-normal);
  color: var(--text-color-secondary);
  background-color: var(--background-color);
}


a {
  text-decoration: none;
  color: inherit;
  /* esse inherit vai pegar a cor do pai dele, que é o body*/
  flex-wrap: wrap;
}

a:hover {
  color: var(--brand-color);
  text-decoration: underline;
}



.container {
  padding-inline: 2rem;
  /*so serve pras laterais e nao vai colocar em cima nem em baixo*/
  max-width: 80rem;
  margin-inline: auto;
  /*so serve pras laterais e nao vai colocar em cima nem em baixo vai centralizar ao meio*/
}

.bg-surface-color {
  background-color: var(--surface-color);
}

